<div style="background: #eeeeee; padding: 15px">
    <div>{{ 'mailer_bundle.transformation.to'|trans({}, 'messages') }} {{ toList|join(' / ') }}</div>

    {% if ccList is not empty %}
        <br/>
        <div>{{ 'mailer_bundle.transformation.cc'|trans({}, 'messages') }} {{ ccList|join(' / ') }}</div>
    {% endif %}

    {% if bccList is not empty %}
        <br/>
        <div>{{ 'mailer_bundle.transformation.bcc'|trans({}, 'messages') }} {{ bccList|join(' / ') }}</div>
    {% endif %}
</div>
<br/>
<br/>
