<div style="background: #eeeeee; padding: 15px">
    <div>{{ 'mailer_bundle.transformation.to'|trans({}, 'messages') }} {{ toList|join(' / ') }}</div><br/>

    <div>{{ 'mailer_bundle.transformation.cc'|trans({}, 'messages') }} {{ ccList|join(' / ') }}</div><br/>

    <div>{{ 'mailer_bundle.transformation.bcc'|trans({}, 'messages') }} {{ bccList|join(' / ') }}</div>
</div>
<br/>
<br/>
